 

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>KS系統| @ViewBag.Title</title>
    <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" />
    <link href="~/Views/Shared/_Layout.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">  
    <script src="@Url.Content("~/Scripts/jquery.ui.datepicker.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/DatePickerReady.js")" type="text/javascript"></script> 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <script src="/js/scripts.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
    <script src="/js/datatables-simple-demo.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    @*<script>
             $(function () {
                $.ajax({
                    method: "GET",
                    url: "https://localhost:44312/Service1.svc/Tutorial/PK",
                    contentType: "application/json",
                    dataType: "json",
                    success: function (data) {
                        const myJSON = JSON.stringify(data);
                        let obj = JSON.parse(myJSON, (key, value) => {
                            //key是欄位名稱
                            if (key == "MsgTitle") {
                                alert(value);
                            }

                        });
                    }
                });
            });
        </script>*@

</head>
<body class="sb-nav-fixed">
    @* 最上面那列 *@
    <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
        @* 首頁 *@
        <a class="navbar-brand ps-3" href="index.html">KS</a>
        @* 開關左邊選單 *@
        <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i class="fas fa-bars"></i></button>
         
        @* 搜尋欄 *@
        <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
            @if (User.Identity.IsAuthenticated)
            {

                <span style="color:white;">
                    歡迎 @Html.Encode(User.Identity.Name)
                </span>
            }

            @*<div class="input-group">
                <input class="form-control" type="text" placeholder="Search for..." aria-label="Search for..." aria-describedby="btnNavbarSearch" />
                <button class="btn btn-primary" id="btnNavbarSearch" type="button"><i class="fas fa-search"></i></button>
            </div>*@
        </form>
        @* 右上角人員登出按鈕 *@
        <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                    <!--<li><hr class="dropdown-divider" /></li>--->
                    <li>@Html.ActionLink("登出", "Logout", "Login", new { }, new { @class = "dropdown-item" })</li>

                </ul>
            </li>
        </ul>
    </nav>
    <div id="layoutSidenav">
        @* 左邊列表 *@
        <div id="layoutSidenav_nav">
            <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                @* 列表Body *@
                <div class="sb-sidenav-menu">
                    <div class="nav">
                        <div class="sb-sidenav-menu-heading">功能列表</div>
                        <a class="nav-link" href="@Url.Action("Index","Calendar")">
                            <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                            行事曆
                        </a>
                        <a class="nav-link" href="@Url.Action("Index","Stock")">
                            <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                            股票資訊
                        </a>
                        <a class="nav-link" href="@Url.Action("Index","Excel")">
                            <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                            Excel匯入匯出
                        </a>

                    </div>
                </div>
                @* 列表footer *@
                <div class="sb-sidenav-footer">
                    <div class="small"></div>
                </div>
            </nav>
        </div>
        @* 底下頁面 *@
        <div id="layoutSidenav_content">
            <main>
                <div class="container-fluid px-4">
                    @if(!(ViewContext.RouteData.Values["controller"].ToString() == "Home" &&
                        ViewContext.RouteData.Values["action"].ToString() == "Index"))
                     { 
                        <p>目前位置：@Html.MvcSiteMap().SiteMapPath()</p>
                     }
                    @RenderBody()

                </div>
            </main>
            @* 頁腳 *@
            <footer class="py-4 bg-light mt-auto">
                <div class="container-fluid px-4">
                    <div class="d-flex align-items-center justify-content-between small">
                        <div class="text-muted">Copyright &copy; KS 2021</div>
                        <div>
                            <a href="#">KS IS BEST</a>
                            &middot;
                            <a href="#"></a>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>

    @*@Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)*@
</body>
</html>
